<!DOCTYPE html>
<html>

<head>
  <title>Simple Login</title>
  <link rel="stylesheet" href="/stylesheets/w3.css">
</head>

<body>
  <form id="signUp" action="/signUp" method='POST'>
    <h2>Sign up</h2>
    <br>
    <input class="w3-input" type="text" placeholder="ID">
    <br>
    <input class="w3-input" type="text" placeholder="password">
    <br>
    <button class="w3-btn">Sign up</button>
  </form>
  <br>
  <a href="/" class="w3-btn">Sign in</a>
</body>

</html>